body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}

h3 {
  font-size: 1.2rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

.fas {
  font-size: 1rem;
}